/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  display: flex;
  justify-content: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  font-size: 2.3rem;
  padding: 1%;
}
.navbar h1 {
  margin-left: 1%;
  font-size: 4rem;
  color: black;
}
.navbar nav {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 0.5%;
  width: 30%;
}
@media (max-width: 500px) {
  .navbar nav {
    width: 50%;
  }
}
.navbar nav #home {
  color: #6c4148;
}
.navbar nav a {
  margin-left: 5%;
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  font-family: 'Russo One', sans-serif;
}
.navbar nav a:hover {
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
body img {
  width: 100vw;
  height: 85vh;
}
@media (max-width: 500px) {
  body img {
    width: 100vw;
    height: 50vh;
  }
}
header {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: whitesmoke;
}
header section {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  padding: 1.8%;
}
@media (max-width: 500px) {
  header section {
    width: 90%;
  }
}
header section p {
  font-size: 2.9rem;
  color: black;
  font-family: 'Dancing Script';
}
@media (max-width: 500px) {
  header section p {
    font-size: 2.5rem;
  }
}
header section h1 {
  color: #6c4148;
  font-size: 3.5rem;
  font-family: 'Russo One', sans-serif;
}
@media (max-width: 500px) {
  header section h1 {
    font-size: 2.5rem;
  }
}
header section h2 {
  color: #6c4148;
  font-size: 2.2rem;
  font-family: 'Russo One', sans-serif;
}
@media (max-width: 500px) {
  header section h2 {
    font-size: 2.5rem;
  }
}
header section button {
  background-color: #6c4148;
  border-radius: 8px;
  color: white;
  padding: 3%;
  width: 150px;
  font-size: 2.3rem;
  text-align: center;
  margin: 4%;
  padding: 4%;
  font-family: 'Russo One', sans-serif;
  font-size: 2.5rem;
}
header section button:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
@media (max-width: 500px) {
  header section button {
    font-size: 2.5rem;
  }
}
.customer {
  display: flex;
  justify-content: center;
  margin: 2%;
}
@media (max-width: 500px) {
  .customer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.customer .one {
  width: 40%;
}
@media (max-width: 500px) {
  .customer .one {
    width: 100%;
  }
}
.customer .one img {
  width: 100%;
  height: 50vh;
}
.customer .two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
@media (max-width: 500px) {
  .customer .two {
    width: 100%;
  }
}
.customer .two p {
  margin: 2%;
  padding: 1%;
  margin-bottom: none;
  font-size: 2rem;
  font-family: 'Dancing Script';
}
.customer .two button {
  background-color: #6c4148;
  border-radius: 8px;
  color: white;
  padding: 3%;
  width: 150px;
  font-size: 2.3rem;
  text-align: center;
  padding: 1%;
}
.customer .two button:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
.stylist {
  display: flex;
  justify-content: center;
  margin: 2%;
}
@media (max-width: 500px) {
  .stylist {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.stylist .one {
  width: 40%;
}
@media (max-width: 500px) {
  .stylist .one {
    width: 100%;
  }
}
.stylist .one img {
  width: 100%;
  height: 50vh;
}
.stylist .two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
@media (max-width: 500px) {
  .stylist .two {
    width: 100%;
  }
}
.stylist .two p {
  margin: 1.5%;
  margin-bottom: none;
  font-size: 2rem;
  font-family: 'Dancing Script';
}
.stylist .two button {
  background-color: #6c4148;
  border-radius: 8px;
  color: white;
  padding: 3%;
  width: 150px;
  font-size: 2.3rem;
  text-align: center;
  padding: 1%;
}
.stylist .two button:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3%;
}
.about div {
  margin-bottom: 3%;
}
.about .aboutSection {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.about .aboutSection h2 {
  font-size: 1.9rem;
}
.about .aboutSection h3 {
  font-size: 1rem;
}
.about .aboutSection div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid black;
  background-color: #6c4148;
}
.about .aboutSection div h2 {
  width: 100%;
  padding: 15%;
  color: white;
}
.contactUs {
  display: flex;
  justify-content: center;
}
input[type="text"],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 8px;
  /* Add a top margin */
  margin-bottom: 20px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
input[type="submit"] {
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: black;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: black;
  color: white;
}
/* Add a background color and some padding around the form */
.container3 {
  border-radius: 5px;
  background-color: rgba(108, 65, 72, 0.5);
  padding: 30px;
  height: 50vh;
}
.mainform {
  width: 500px;
}
.contact {
  width: 100%;
  height: 50vh;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.contact .mainform {
  width: 50%;
  margin: 2%;
}
@media (max-width: 500px) {
  .contact .mainform {
    width: 100%;
  }
}
.contact .contactImg {
  margin-left: 2%;
  margin-top: 2%;
  width: 50%;
}
@media (max-width: 500px) {
  .contact .contactImg {
    display: none;
  }
}
.contact .contactImg img {
  width: 100%;
  height: 50vh;
}
