.transnav {
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    border-bottom: none !important;
    box-shadow: none !important;
}

.test {
    padding: 2%;
    padding-left: 3%;
    padding-right: 2%;


    a {
        font-size: 3.5rem;
        font-family: @title;
        color: black;
    }

    li {
        a {
            font-size: 2.5rem !important;
        }

        .home {
            color: rgb(220, 35, 96);
        }

    }
}

.firstThree {
    margin-top: 4%;
    width: 100vw;
   .center();

   @media @mobile {
    .column();
    }   

    .row {

        .col.s12.m7 {
            width: 100%;

        }
        .card {
            width: 300px;
            img {
                width: 300px;
                height: 300px;
            }

            .card-content {
                h1 {
                    font-size:3rem;
                    text-align: center;
                    
                }
                p {
                    font-size: 1.5rem;
                    text-align: center;
                    color: rgb(220, 35, 96)
                }
            }
            
        }
    }
}

.secondThree {
    .center();
    width: 100vw;
    @media @mobile {
        .column();
        }   

    .row {

        .col.s12.m7 {
            width: 100%;

        }
        .card {
            width: 300px;
            img {
                width: 300px;
                height: 300px;
            }

            .card-content {
                h1 {
                    font-size:3rem;
                    text-align: center;
                    
                }
                p {
                    font-size: 1.5rem;
                    text-align: center;
                    color: rgb(220, 35, 96)
                }
            }
            
        }
    }
}